img {
    width: 100%;
    height: auto;
    border-radius: 10px
}
.box_informativo {
    height: auto;
    font-family: cursive;
    font-size: 18px;
    h1 {color:orange;text-align: center;}
    p {color:brown;}
    ul {color:brown;}
    border: 2px yellow solid;
    width: auto;
    margin: 30px;
    background-color: #f9ff8b;
    text-align: justify;
}
    .Preguntas_formulario {
        font-family: cursive; 
    font-size: 16px;
    border: 3px beige solid;
    margin: 30px;
text-align: justify;
    background-color: beige;
padding: 45px;
}
.box_privacidad {
    font-family: cursive;
    font-size: 14px;
    border: 2px lightyellow solid;
    margin: 30px;
    background-color: #f9ff8b;
    padding: 20px;
    text-align: justify;
}
form { 
    width: 100%;
    display: flex; /* Cambia la dirección de los elementos a horizontal */
    flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben en una línea */
    gap: 20px; /* Espaciado entre los campos */
    align-items: center; /* Alinea los elementos verticalmente */
}
button {
    background-color: transparent;border:2px green solid;
font-family:cursive;
    font-size: 16px;}

.botón_adjunto {
    display: inline-block;
    margin:10px;
    vertical-align: top;
}

input[type="text"] {
    width: 300px; 
    padding: 5px; 
    border: px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

form label {
    width: auto; /* Ajusta el ancho de las etiquetas */
    margin-right: 10px; /* Espaciado entre la etiqueta y el campo */
}

form input,
form select {
    flex: 1; /* Permite que los campos se ajusten al espacio disponible */
    min-width: 200px; /* Ancho mínimo para los campos */
}