.identificaci贸n {
    display: flex;
    width: 100%;
    gap: 10px;
}
.nombre {
    display: flex;
    width: 100%;
    gap: 10px;
}
.direcci贸n {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f8ff;
  max-width: 500px;
  margin: 30px auto;
  font-family: sans-serif;
}

.direcci贸n label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

.direcci贸n input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  box-sizing: border-box;
}

